{% extends '@layout/default.html.twig' %}

{% block title %}RSS Feed Providers{% endblock %}
{% block currentpage %}RSS Feed Providers{% endblock %}
{% block pageheader %}Database Grid{% endblock %}
{% block subheader %}Displaying Data From Cron Job{% endblock %}

{% block content %}
<script id="providerTemplate" type="text/template">
    <td class="provider-name" data-toggle="modal" data-target="#providerModal"><%= name %></td>
    <td><a href=<%= url %>" target="_blank"><%= url %></a></td>
</script>
<div class="panel panel-primary">
    <div class="panel-heading">RSS Feeds display grid</div>
    <div class="panel-body">
        <p>
            Data taken regurlary from provided file and stored to database.
            It's storage is displayed in the table grid. Click on the row to
            view the item separately.
        </p>
        <p>
            The application uses REST API consumption Backbone.js mechanism,
            whith empowers and entitles it to display grid independently
            from browser user interaction - i. e. without reloading it and
            without prefetching html grid to the browser.
        </p>
    </div>
    <table id="providerGrid" class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Url</th>
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Url</th>
            </tr>
        </tfoot>
    </table>
</div>
<div class="modal fade" tabindex="-1" id="providerModal" role="dialog" aria-labelledby="RSS Feed Provider" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" role="create">RSS Feed Provider</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="feed-name">
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Go to feed page</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<data>
    <data id="api" data-api-provider="{{ path('api.provider') }}"></data>
</data>
{% endblock %}
    
{% block javascript %}
    <script src="/dist/provider.core.js"></script>
{% endblock %}