<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="https://framework.zend.com/ico/favicon.ico" />
    {% block stylesheets %}{% endblock %}
</head>
<body class="app">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Present Connection</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <header>
        <div class="container mt-4">
            <div class="page-header">
                <h1>{% block pageheader %}{% endblock %}<small class="pl-4">{% block subheader %}{% endblock %}</small></h1>
            </div>
        </div>
    </header>
    <div class="app-content">
        <main class="container">
            {% block content %}{% endblock %}
        </main>
    </div>
    <footer class="app-footer clearfix">
        <div class="container text-center mt-2">
            {% block footer %}
                Copyright <a href="""{{ absolute_url('https://pixelpitchteam.tumblr.com') }}">pixelpitchteam.tumblr.com &trade;</a> 2017 - {{ 'now' | date("Y") }}
            {% endblock %}
        </div>
    </footer>
    {% block javascript %}
    <script src="/dist/app.core.js"></script>
    {% endblock %}
</body>
</html>
